.dark {
    background: DimGrey;
}

.dark-text {
    color: whitesmoke;
}

.red {
    background: #8B0000;
}

.red-text {
    color: whitesmoke;
}

.some {
    background: DarkGreen;
}

.some-text {
    color: whitesmoke;
}