.error {
    color: white;
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    margin-top: 150px;
}

.errorText {
    color: white;
    text-align: center;
    margin-top: 50px;
}